html {
	background-color: #333;
}

p {
	color: #eee;
}

body {
	padding: 0 10em;
}

header {
	margin-bottom: 2em;
	padding: 0.125em;
	font-size: 1.75em;
	border-bottom: 2px solid #eee;
	text-align: center
}

button.project {
	height: 297px;
	width: 210px;
	margin-right: 20px;
	margin-bottom: 20px;
}

dialog#new-document {
	background-color: #333;
	border: 3px solid orange;
	border-radius: 30px;
}
